* {
  padding: 0;
  margin: 0;
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --input-width: 180px;
  --bg: #f5f5f5;
  --bg-text: #3c3c3c;
  --add-bg: #ff5a5f;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--bg);
}
form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  gap: 5px;
}

.card {
  padding: 30px 30px 45px 30px;
  background: rgb(186, 212, 186);
  width: fit-content;
  border-radius: 10px;
}

input[type="text"],
input[type="number"] {
  width: var(--input-width);
  border: none;
  height: 1.5rem;
  border-radius: 5px;
}

#submit-new {
  width: fit-content;
  padding: 10px 15px;
  align-self: center;
  border-radius: 5px;
  border: none;
}

#submit-new:hover,
input[type="checkbox"]:hover {
  cursor: pointer;
}

.checkbox-wrapper {
  display: flex;
  gap: 30px;
}

.input-modal {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-90%, -50%);
  opacity: 1;
  padding-right: 100px;
  transition: all 0.5s ease-in-out;
}

.on-screen {
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  padding-right: 30px;
}

header {
  background: var(--bg-text);
  color: var(--bg);
  clip-path: polygon(0 0, 100% 0%, 100% 30%, 0% 100%);
}

.main-title {
  font-family: "Alfa Slab One", cursive;
  font-size: 5rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  margin-left: 2rem;
  text-transform: uppercase;
}

#add-book {
  position: absolute;
  right: -10%;
  top: -10%;
  border: none;
  aspect-ratio: 1/1;
  clip-path: circle(50% at 50% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.add-btn i {
  color: var(--add-bg);
  font-size: 3rem;
}
.rotate {
  transform: rotate(45deg);
}
#add-book:hover {
  cursor: pointer;
}

.books {
  min-height: 100%;
  width: 90%;
  align-self: center;
}
* {
  border: 1px solid red;
}
